/* Google Fonts 웹사이트에서 글꼴 가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gaegu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gaegu:wght@300&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gaegu:wght@300&family=Nanum+Brush+Script&family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gaegu:wght@300&family=Nanum+Brush+Script&family=Sunflower:wght@300&display=swap');

/* 제목, 본문, 코드 글꼴 설정 */

h1 {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 5em; 
}

h2 {
  font-family: 'Dokdo', cursive;
  font-size: 4em; 
}

h3 {
  font-family: 'Sunflower', sans-serif;
  font-size: 3em; 
}

body {
  background-color: black;
  color: white; /* text color */
  'Sunflower', sans-serif;
  font-size: 2em; 
}

code {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 5em;
}

/* navbar 설정 변경 */
.navbar .navbar-brand  {
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
    color: blue !important;
    
}

/* Primary base_font */

.navbar .navbar-nav li > a {
    font-family: 'Dokdo', cursive;
    background-color: lightgreen !important;
    color: black !important;
}

/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}

/* 왼쪽 navbar Menu*/

.navbar-default {
    background-color: #b1b1b3 !important;
}

.nav.nav-pills.nav-stacked > .active > a, .nav.nav-pills.nav-stacked > .active > a:hover {
    background-color: #d52b1e;
    padding-left: 5px;
  }

.col-sm-4 {
    width: 30%;
}

.row {
    margin-right: -45px;
    margin-left: 0px;
}

.well {
    font-family: 'Dokdo', cursive;
    min-height: 100px;
    max-width: 300px;
    padding: 1px;
    margin-bottom: 20px;
    background-color: #2c3e50;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


